<h1> Your item is <%= @item.name %> and it is the color <%= @item.color %></h1>

<a href="/items">Back to items</a>
<a href="/items/<%= @item.id %>/edit">Edit Your item</a>
<a href="/items/<%= @item.id %>/delete">Delete This item</a>
